<html lang="en-US" class="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
  <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">


  <link href="{{ SITEURL }}/{{ FEED }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed" />
  {% if FEED_RSS %}
    <link href="{{ SITEURL }}/{{ FEED_RSS }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
  {% endif %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>



    <link rel="stylesheet" href="{{ SITEURL }}/theme/style.css">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style-ia3-1.0.2.css">
    <link rel="icon" type="image/png" href="{{ SITEURL }}/theme/favicon.png">
    <link rel="shortcut icon" href="{{ SITEURL }}/theme/favicon.png">

    <body class="single">
        <div id="screen">
            <header>
    <h1 class="G2 GS">
        <a class="G1 GS" href="/"><img alt="KR" src="/{{ SITEURL }}/theme/kr.png"></a>
    </h1><!-- .G2.GS -->
    <nav>
        <ul class="containsGrid G3" id="headerOne">
            <li class="G1 GS">
                <h2 class="HSC">About</h2>
                <ul>
                    <li><a href="/pages/colophon.html">Colophon</a></li>
                    <li><a href="/pages/events.html">Events</a></li>
                    <li><a href="/pages/talks.html">Talks</a></li>
                </ul>
            </li>
            <li class="G1">
                <h2 class="HSC">Works</h2>
                <ul>
                    <li><a href="/archives.html">Articles</a></li>
                    <li><a href="/pages/open-projects.html">Projects</a></li>
                    <li><a href="/pages/photography.html">Photos</a></li>
                </ul>
            </li>
            <li class="G1">
                <h2 class="HSC">Projects</h2>
                <ul>
                    <li><a href="http://docs.python-requests.org">Requests</a></li>
                    <li><a href="http://docs.python-guide.org">Python Guide</a></li>
                    <li><a href="http://docs.python-tablib.org">Tablib</a></li>
                </ul>
            </li>
        </ul><!-- .containsGrid.G3#headerOne -->
        <ul class="containsGrid G1" id="headerTwo">
            <li class="G1 GS">
                <h2 class="HSC">Contact</h2>
                <ul>
                    <li><a href="mailto:contact@kennethreitz.com">Email</a></li>
                    <li><a href="http://twitter.com/kennethreitz">Twitter</a></li>
                    <li><a href="https://github.com/kennethreitz">GitHub</a></li>
                </ul>
            </li>
        </ul><!-- .containsGrid.G1#headerTwo -->
    </nav>
</header>


{% block content %}
{% endblock %}


<hr class="implied">

<footer>
    <nav>

        <ul class="G6 GS" id="footerTwo">
            <li><a href="{{ SITEURL }}/{{ FEED }}">RSS</a></li>
            <li><a href="http://junk.kennethreitz.com/">Tumblr</a></li>
            <li><a href="https://github.com/kennethreitz">GitHub</a></li>
            <li><a href="http://twitter.com/kennethreitz/">Twitter</a></li>
            <li>&copy; 2012 Kenneth Reitz.</li>
        </ul><!-- G6.GS#footerOne -->
    </nav>
</footer>
<script>
    jQuery.noConflict();

    jQuery(document).ready(function() {
        jQuery(document).trigger('CORE:HAS_INITIALIZED');
    });

    jQuery(window).resize(function() {
        jQuery(document).trigger('CORE:HAS_RESIZED');
    });
</script>

</div><!-- #screen -->

{% include 'analytics.html' %}

</body></html>
